apiVersion: apps/v1
kind: Deployment
metadata:
  name: hostel-db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hostel-db
  template:
    metadata:
      labels:
        app: hostel-db
    spec:
      containers:
        - name: mysql
          image: mysql:5.7
          env:
            - name: MYSQL_ROOT_PASSWORD
              value: admin@123
            - name: MYSQL_DATABASE
              value: hostel_db
          ports:
            - containerPort: 3306
          volumeMounts:
            - name: mysql-storage
              mountPath: /var/lib/mysql
      volumes:
        - name: mysql-storage
          persistentVolumeClaim:
            claimName: mysql-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: hostel-db
spec:
  type: ClusterIP
  ports:
    - port: 3306
  selector:
    app: hostel-db
