apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: gp2-custom
provisioner: kubernetes.io/aws-ebs
volumeBindingMode: WaitForFirstConsumer
reclaimPolicy: Delete
allowVolumeExpansion: true
parameters:
  type: gp2
