name: Deploy Flask App to EKS

on:
  push:
    branches:
      - main   # Trigger on main branch

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    # -----------------------------
    # Configure AWS Credentials
    # -----------------------------
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    # -----------------------------
    # Login to Amazon ECR
    # -----------------------------
    - name: Login to Amazon ECR
      uses: aws-actions/amazon-ecr-login@v2

    # -----------------------------
    # Build & Push Docker Image
    # -----------------------------
    - name: Build and Push Docker Image
      env:
        ECR_REGISTRY: ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com
        IMAGE_NAME: hostel-web
      run: |
        IMAGE_TAG=latest
        IMAGE_URI=$ECR_REGISTRY/$IMAGE_NAME:$IMAGE_TAG
        
        echo "Building image: $IMAGE_URI"
        docker build -t $IMAGE_URI .
        
        echo "Pushing image to ECR..."
        docker push $IMAGE_URI
        
        echo "IMAGE_URI=$IMAGE_URI" >> $GITHUB_ENV

    # -----------------------------
    # Update kubeconfig
    # -----------------------------
    - name: Update kubeconfig for EKS
      run: |
        aws eks update-kubeconfig \
          --region ${{ secrets.AWS_REGION }} \
          --name ${{ secrets.EKS_CLUSTER_NAME }}

   
# Deploy to EKS
# -----------------------------
    - name: Deploy to EKS
      run: |
        echo "Applying all k8s manifests..."
        kubectl apply -f k8s/

        echo "Updating image in Kubernetes deployment..."
        kubectl set image deployment/hostel-deployment \
          hostel-web=${IMAGE_URI} --record

